* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.cont-header {
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .cont-header .cont-logo {
    display: flex;
    align-items: center; }
    .cont-header .cont-logo img {
      height: 3rem; }
    .cont-header .cont-logo h1 {
      color: #111827;
      padding-left: 1.2rem; }
  .cont-header .cont-nav {
    display: flex;
    flex-direction: row; }
    .cont-header .cont-nav a {
      font-size: 1.3rem;
      margin: 0 .500rem;
      color: #111827;
      font-weight: bold; }
  .cont-header a:hover,
  .cont-header a h1:hover {
    color: #318282; }

.activo {
  border-bottom: 2px solid #318282; }

.activo:hover {
  border-bottom: 2px solid #111827; }

.cont-contenido-principal {
  display: grid;
  padding-top: 5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 600px;
  align-items: center;
  margin-inline: 5%; }
  .cont-contenido-principal .cont-titulo-1 {
    padding-left: 2rem; }
    .cont-contenido-principal .cont-titulo-1 h1 {
      font-size: 4.5rem;
      color: #111827; }
    .cont-contenido-principal .cont-titulo-1 h2 {
      color: #6b7280;
      font-size: 1.25rem;
      margin-top: 1.5rem; }
  .cont-contenido-principal .cont-titulo-2 {
    width: auto;
    height: 100%;
    padding-left: 3rem;
    position: relative; }
    .cont-contenido-principal .cont-titulo-2 .cont-img-titulo-2 {
      width: 100%;
      height: 100%;
      min-width: 50%;
      padding-left: 25%; }
      .cont-contenido-principal .cont-titulo-2 .cont-img-titulo-2 .img-1 {
        width: 100%;
        min-height: 400px;
        position: absolute;
        right: 0;
        top: 8%;
        z-index: 1; }
    .cont-contenido-principal .cont-titulo-2 .bg-1 {
      background-color: #111827;
      width: 60%;
      min-width: 50%;
      height: 100%;
      position: absolute;
      top: -20px;
      right: 0; }
    .cont-contenido-principal .cont-titulo-2 .bg-2 {
      position: absolute;
      margin-right: 3rem;
      top: 15px;
      left: -40px; }
    .cont-contenido-principal .cont-titulo-2 .img-1,
    .cont-contenido-principal .cont-titulo-2 .bg-1 {
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem; }

.cont-testimonios {
  background-color: #318282;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 5rem; }
  .cont-testimonios p {
    max-width: 48rem;
    font-size: 1.875rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: center; }
  .cont-testimonios .cont-info-testimonio {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem; }
    .cont-testimonios .cont-info-testimonio .testimonios-img {
      border-color: #ffffff;
      border-width: 2px;
      border-radius: 50%;
      border-style: solid;
      width: 3rem; }

.cont-info-main {
  padding-top: 15rem;
  width: 100vw; }
  .cont-info-main .info-main {
    display: flex;
    align-items: center;
    margin-bottom: 6rem; }
    .cont-info-main .info-main .cont-img {
      width: 50%;
      max-height: 440px; }
      .cont-info-main .info-main .cont-img img {
        width: 100%;
        max-height: 440px;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem; }
    .cont-info-main .info-main .cont-img-derecha img {
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem; }
  .cont-info-main .cont-contenido {
    width: 50%;
    padding-left: 4rem; }
    .cont-info-main .cont-contenido h2 {
      font-size: 2.25rem;
      line-height: 2.5rem; }
    .cont-info-main .cont-contenido p {
      font-size: 1.25rem;
      line-height: 1.75rem;
      max-width: 500px;
      color: #6b7280;
      padding-top: 1rem; }
  .cont-info-main .cont-contenido-derecha {
    width: 50%; }

.cont-logo-wpp {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 0.2rem 0.7rem;
  position: fixed;
  right: 20px;
  bottom: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.456);
  background-color: #4fb053;
  border: 2px solid #4fb053; }
  .cont-logo-wpp h3 {
    color: #ffffff; }
  .cont-logo-wpp img {
    width: 40px;
    height: 40px; }

.cont-logo-wpp:hover {
  background-color: rgba(0, 0, 0, 0.175);
  border: 2px solid #4fb053; }
  .cont-logo-wpp:hover h3 {
    color: #4fb053; }

@media screen and (min-width: 1500px) {
  .cont-img {
    padding-left: 4rem; }
    .cont-img img {
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem; }
  .cont-img-derecha {
    padding-left: 0;
    padding-right: 4rem; }
    .cont-img-derecha img {
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem; }
  .cont-contenido {
    margin-left: 4rem; } }
