.cont-principal-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    position: relative;
    width: 100%;
    text-align: center;
    .bg-nosotros-1 {    
        position: absolute;
        bottom: -20px;
        left: -100px;
    } 
    .cont-nosotros-info {

        h1 {
            font-size: 3.75rem;
            line-height: 1;
            color: $color-letra-titulos;
        }

        .nosotros-txt {
            margin-top: 1.5rem;
            p {
                margin-bottom: 1.25em;
                line-height: 2rem;
                max-width: 672px;
                color: $color-parrafos-2;
            } 
        }  
    }
    .bg-nosotros-2 {
        position: absolute;
        top: 20px;
        right: -100px;
    }
}

// Global
.cont-global {
    margin-top: 9rem;
    .global-info {
        div {
            h1 {
                margin-bottom: .8em;
                font-weight: 800;
                font-size: 2.25em;
                color: $color-letra-titulos;
            } 
        }
       
    }
}