.cont-contenido-principal {
    display: grid;
    padding-top: 5rem;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 600px;
    align-items: center;
    margin-inline: 5%;
    .cont-titulo-1 {
        padding-left: 2rem;
        h1 {
            font-size: 4.5rem;
            color: $color-letra-titulos;
        }
        h2 {
            color: $color-parrafos;
            font-size: 1.25rem;
            margin-top: 1.5rem;
        }
    }
    .cont-titulo-2 {
        width: auto;
        height: 100%;
        padding-left: 3rem;
        position: relative;
        
        .cont-img-titulo-2 {
            width: 100%;
            height: 100%;
            min-width: 50%;
            padding-left: 25%;
            .img-1 {
                width: 100%;
                min-height: 400px;
                position: absolute;
                right: 0;
                top: 8%;
                z-index: 1;
            }
        }
        .bg-1 {
            background-color: $color-letra-titulos;
            width: 60%;
            min-width: 50%;
            height: 100%;
            position: absolute;
            top: -20px;
            right: 0;
        }
        .bg-2 {
            position: absolute;
            margin-right: 3rem;
            top: 15px;
            left: -40px;
        }
        .img-1,
        .bg-1 {
            border-top-left-radius: 1.5rem;
            border-bottom-left-radius: 1.5rem;
        }
    }
}
// Seccion info main
.cont-info-main {
    padding-top: 9rem;
    width: 100vw;
    .info-main {
        display: flex;
        align-items: center;
        gap: 3.5rem;
        margin-bottom: 6rem;
        .cont-img {
            width: 670px;
            max-height:440px;
            img {
                width: 100%;
                max-height:440px;
                border-top-right-radius: 1.5rem;
                border-bottom-right-radius: 1.5rem;
            }
        }

        .cont-img-derecha {
            img {
                border-top-left-radius: 1.5rem;
                border-bottom-left-radius: 1.5rem;
            }
        }
    }

    .cont-contenido {
        width: 50%;
        h2 {
            font-size: 2.25rem;
            line-height: 2.5rem;
        }
        p {
            font-size: 1.25rem;
            line-height: 1.75rem;
            max-width: 500px;
            color: $color-parrafos;
            padding-top: 1rem;
        }
    }
    .cont-contenido-derecha {
        padding-left: 3rem;
        width: 50%;
    }

}

// Logo whatpsapp
.cont-logo-wpp {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 10px;
    padding: 0.2rem 0.7rem;
    position: fixed;
    right: 20px;
    bottom: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    // transition: background-color 1s ease;
    background-color: $color-principal;
    border: 2px solid $color-principal;
    h3 {
        color: $blanco-letra;
    }
    img {
        width: 40px;
        height: 40px;
    }
}
.cont-logo-wpp:hover {
    background-color: rgba(128, 128, 128, 0.163);
    border: 2px solid #4fb153;
    border: 2px solid $color-letra-titulos;
    h3 {
        color: $color-letra-titulos;
    }
}

